/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #005b96;
  --ifm-color-primary-dark: #005287;
  --ifm-color-primary-darker: #004d80;
  --ifm-color-primary-darkest: #004069;
  --ifm-color-primary-light: #0064a5;
  --ifm-color-primary-lighter: #0069ad;
  --ifm-color-primary-lightest: #0076c3;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6cabdd;
  --ifm-color-primary-dark: #519cd7;
  --ifm-color-primary-darker: #4494d4;
  --ifm-color-primary-darkest: #2b7bbb;
  --ifm-color-primary-light: #87bae3;
  --ifm-color-primary-lighter: #94c2e6;
  --ifm-color-primary-lightest: #bcd9f0;
  --ifm-background-color: #241f31;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
